@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#EEE;
    color:#444;

}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}
.nav-button {
        font-size: 0.9rem;
        padding-right: 0.5rem;
}
.nav-item {
    font-size: 0.9rem;
    padding-right: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}
.brandtextcolour{
    color: black;
    margin-right: 0.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}
.collapse{
    display: none;
}
.uncollapse{
    position: absolute;
    z-index: 1;
    right: 0;
    display: block;
}
.menudropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
.menuburger{
    position: relative;
    display: inline-block;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
    .hideonnarrowscreen{
        display: none;
    }
    .saveicon{
        width: 3rem;
        height: 3rem;
    } 
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .hideonwidescreen{
        display: none;
    }
    .saveicon{
        width: 1.5rem;
        height: 1.5rem;
    } 
}

.candrag {
    cursor: move;
}

.node {
    cursor: move;
}

.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 20px;
    font-family: sans-serif;
}

.link {
    fill: none;
    /* stroke: #ccc; */
    stroke: #a1d7ce;
    stroke-width: 1.5px;
    cursor: grab;
    stroke-opacity: 0.8;
}
.linkborder {
    fill: none;
    stroke: #ccc;
    stroke-width: 5px;
    cursor: grab;
    stroke-opacity: 0;
}
.linkdragging {
    stroke-opacity: 1;
    cursor: grabbing;
}
.linkhide{
    stroke-opacity: 0;
}

.templink {
    fill: none;
    stroke: rgb(175, 8, 8);
    stroke-width: 3px;
}

.highlightRect.show {
    display: block;
}

.highlightRect, .activeDrag .highlightRect {
    display: none;
}

.standardNode {
    /* stroke: black; */
    display: flex;
}

.topdiv{
    height: 50px;
    width: 100vw;
}
.linediv{
    width: 100vw;
}
.bottomdiv {
    height: calc(100vh - 50px);
    position: relative;
}
.bottomdiv svg{
    background-color: #fff;
    /*background-color:#cce9e5;*/
    border:0px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}
foreignObject {
    overflow: hidden;
    text-align: left;
    display:-webkit-flex;
    flex: 1;
    align-items: center;
}
.flexdiv {
    flex: 1;
    /* padding: 2px */
    padding: 6px 6px 4px 6px;
}
.contexmenuflexdiv{
    flex: 1;
    padding: 2px;
}
.contextmenudiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.contextmenuicon{
    pointer-events: visible;
    stroke: #a1d7ce;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 3;
}

rect {
    flex: 1;
}

.resizehandle{
    cursor: se-resize;
    stroke-width: 0;
    opacity: 0;
}

.linklump {
    stroke-width: 0;
    opacity: 0;
}
.linklump:hover{
    opacity: 1;
}


.linklumppath {
    cursor: grab;
    fill: none;
    stroke: #ccc;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
    opacity: 1;
}
.inputfile{
    display: none;
}

.menurect{
     /* fill: rgb(244,244,244); */
     fill: #eee;
     /* stroke: white; */
     stroke-width: 0px;
}
.menutext {
    fill: #666;
    /*font-family: sans-serif;*/
}
.menuerange{
    width: 100%;
    height: 100%;
}
.menucheckbox{
    text-align: center;
    vertical-align: middle
}

glink {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
svg {
    height: calc((100vh - 50px)*0.98);
    width: calc(100vw * 0.98);
    position: absolute;
    preserveAspectRatio: "xMidYMid slice";
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;
    top: 1%;
    left: 1%;
    right: 1%;
    bottom: 1%;
}
.menumouseover{
    fill: rgb(200,200,200);
}
.menumouseout{
    fill: rgb(244,244,244);
    stroke: white;
    stroke-width: 1px;
}
.trashbutton{
    background-image: url(open-iconic/icons/trash.svg);
    background-repeat: no-repeat;
    background-position: right 20%;
    align-items: center;
    width: 90%;
}
.init-loading{
    padding:50px;
    text-align:center !important;
    width:100%;
    font-size:24px;
    color:#a1d7ce;
    position: relative;
    
}

.navbar-brand{
    font-weight:bold;
    color:#666;
}

.twitter-dm-button{
    top:-2px !important;
    position: relative !important;
}

button{
    color:#666;
}
.saveiconred{
    filter: invert(37%) sepia(41%) saturate(5890%) hue-rotate(339deg) brightness(100%) contrast(91%);
}
.twitter-avatar{
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.avatardiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}